.footer {
  display: flex;
  justify-content: space-between;
  border-top: solid 1px black;
}

.logo {
  min-width: 220px;
}

.heading {
  font-family: "Forum";
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 12px;
  margin-block: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.subtitle {
  font-family: "NunitoSans";
  margin-block: 0;
  text-align: center;
  font-size: 5px;
  font-weight: 600;
  letter-spacing: 6px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.link_active {
  font-weight: 600;
}

.rating {
  width: 150px;
  height: 50px;
  border-width: 0;
}

ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}
p {
  margin: 0px;
}

.address {
  font-style: normal;
}
