@font-face {
  font-family: "NunitoSans";
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/NunitoSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Forum-Regular.ttf") format("truetype");
}

body {
  margin: auto;
  max-width: 1440px;
  font-family: "NunitoSans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}
