@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  * {
    @font-face {
      font-family: "NunitoSans";
      font-style: normal;
      font-weight: 200;
      src: url("./assets/fonts/NunitoSans-VariableFont.ttf") format("truetype");
    }

    @font-face {
      font-family: "Forum";
      font-style: normal;
      font-weight: 400;
      src: url("./assets/fonts/Forum-Regular.ttf") format("truetype");
    }

    body {
      margin: auto;
      max-width: 1440px;
      font-family: "NunitoSans", Arial, sans-serif;
      color: rgb(0, 0, 0);
      background-color: #ffffff;
    }
  }
}

@layer base {
	:root {
		--primary-lighter: 220 100% 95%;
		--primary-light: 220 100% 80%;
		--primary-main: 220 100% 54%;
		--primary-dark: 220 98% 44%;
		--primary-darker: 220 94% 34%;
		--primary-gradientMain: 220 87% 38%;
		--secondary-lighter: 277 100% 92%;
		--secondary-light: 272 100% 76%;
		--secondary-main: 267 100% 60%;
		--secondary-dark: 261 76% 41%;
		--secondary-darker: 256 86% 26%;
		--info-lighter: 171 93% 89%;
		--info-light: 180 86% 67%;
		--info-main: 189 100% 43%;
		--info-dark: 198 100% 31%;
		--info-darker: 208 100% 20%;
		--success-lighter: 119 88% 91%;
		--success-light: 130 77% 70%;
		--success-main: 142 71% 45%;
		--success-dark: 154 78% 31%;
		--success-darker: 166 88% 20%;
		--warning-lighter: 48 100% 90%;
		--warning-light: 44 100% 70%;
		--warning-main: 40 100% 50%;
		--warning-dark: 36 100% 36%;
		--warning-darker: 32 100% 24%;
		--error-lighter: 29 100% 92%;
		--error-light: 20 100% 75%;
		--error-main: 11 100% 59%;
		--error-dark: 2 77% 41%;
		--error-darker: 353 86% 26%;
		--grey-900: 214 24% 11%;
		--common-black: 0 0% 0%;
		--common-white: 0 0% 100%;
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 180 3% 94%;
		--input: 0 0% 100%;
		--input-foreground: 223 17% 71%;
		--input-disabled: 230 60% 98%;
		--border-hover: 230 67% 79%;
		--border-error: 3 100% 69%;
		--border-active: 230 66% 69%;
		--foreground-error: 3 100% 69%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--grey-500: 210 13% 62%;
		--grey-800: 211 24% 17%;

		--divider-default: 210 13% 62%;
	}


	html.light {
		--background: 0 0% 100%;
		--foreground: 0 0% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--primary: 0 0% 9%;
		--primary-foreground: 0 0% 98%;
		--secondary: 0 0% 96.1%;
		--secondary-foreground: 0 0% 9%;
		--muted: 0 0% 96.1%;
		--muted-foreground: 0 0% 45.1%;
		--accent: 0 0% 96.1%;
		--accent-foreground: 0 0% 9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--border: 180 3% 94%;
		--input: 0 0% 100%;
		--input-foreground: 223 17% 71%;
		--input-disabled: 230 60% 98%;
		--border-hover: 230 67% 79%;
		--border-error: 3 100% 69%;
		--border-active: 230 66% 69%;
		--foreground-error: 3 100% 69%;

		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
		--grey-500: 210 13% 62%;
		--grey-800: 211 24% 17%;
		--divider-default: 210 13% 62%;
	}

}
