.content {
  display: flex;
  align-items: center;
  max-width: 914px;
  margin-inline: auto;
  gap:20px,
}

.text {
  display: grid;
  gap: 20px;
}

h3 {
  margin: 0;
  font-family: Forum;
  font-weight: 400;
  font-size: 36px;
}

.category {
  font-family: "Forum";
  font-size: 20px;
  line-height: 127%;
}

.achievements {
  font-weight: 300;
  font-size: 16px;
  line-height: 127%;
}

button {
  max-width: 330px;
  border: 1px solid black;
  border-radius: 16px;
  padding: 13px;
  font-family: "Forum";
  font-size: 20px;
  line-height: 127%;
  background-color: transparent;
}

.img {
  height: 100%;
}
